#clockFace {
    -fx-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#hand1 {
    -fx-stroke: derive(#ffffff, -5%);
    -fx-stroke-width: 7;
    -fx-stroke-line-cap: square;
}

#hand2 {
    -fx-stroke: derive(#ffffff, -5%);
    -fx-stroke-width: 7;
    -fx-stroke-line-cap: square;
}


#clockPivot {
    -fx-fill: derive(#ffffff, +5%);
}

