#clockFace {
    -fx-fill: radial-gradient(radius 180%, #bdbbbb, derive(#b7b7b7, -30%), derive(#a8a7a7, 30%));
    -fx-stroke: derive(#bdbdbd, -45%);
    -fx-stroke-width: 2;
}

#hand1 {
    -fx-stroke: derive(#2654b2, -5%);
    -fx-stroke-width: 5;
    -fx-stroke-line-cap: square;
}

#hand2 {
    -fx-stroke: derive(#023460, -5%);
    -fx-stroke-width: 5;
    -fx-stroke-line-cap: square;
}


#clockPivot {
    -fx-fill: derive(#9cc4ff, +5%);
}

